`* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*removed the h1 .seo class and combined it with the header 
because there was no need for it to be separate*/
.header h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*removed the list style type command because it wasnt doing anything*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*deleted text decoration because it wasn't doing anything*/
a {
    color: #ffffff;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*deleted the extra fonts and kept it to three*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    background-color: #2589bd;
}
/*deleted the brand and cost classes 
because only one of these were necessary*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*deleted two fonts because they weren't necessary*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*deleted the h2 tags that weren't necessary*/
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}
/*deleted the extra fonts*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
